body{
    margin: 0;
    background-color: rgb(61, 86, 178);
}
main{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.people{
    padding: 30px;
    margin: 20px;
    background-color: rgb(20, 39, 155) !important;
    width: 20%;
    box-shadow: box-shadow: -9px -23px 101px 55px rgba(0,29,110,0.93);
    -webkit-box-shadow: -9px -23px 101px 55px rgba(0,29,110,0.93);
    -moz-box-shadow: -9px -23px 101px 55px rgba(0,29,110,0.93);
}
h4, h2{
    color: rgb(230, 230, 230);
    border-bottom: 1px dotted rgb(61, 86, 178) ;

}
.search{
    height: 30px;
    margin-left: 72%;
    margin-top: 50px;
    background-color: rgb(20, 39, 155) ;
    border: none;
    color: rgb(230, 230, 230);
    padding: 10px;
    font-size: 15px;
}
section{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1400px;
    width: 100%;
}
img{
    width: 100%;
}
